
    h1{
        font-size: 32px;
        margin-top: 50px;
        text-align:center;

    }

    .marginTop{
        margin-top:150px;
    }

    .logo{
        height: 100px
    }
    
    .img{
       // background-color: rgba(0, 9, 139, 0.849)
        background-image:url('../../assets/imgs/for.png');
        background-size:1000px;
        background-repeat:no-repeat;
    }
   // .container{
     //background-color: rgba(0.0,0.0,0.0,0.2);
     // border-radius: 10px;
      //margin-top: 20%;
     // margin-left: 20px;
      //margin-right: 20px;
      //padding:20px;

//}--->



